<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Log in with your account</title>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}">
</head>

<body>
<div>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>UserName</th>
      <th>Password</th>
      <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <!-- Перебор всех пользователей -->
    <tr th:each="user : ${allUsers}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.password}"></td>
      <td>
        <!-- Перебор всех ролей пользователя -->
        <span th:each="role : ${user.roles}" th:text="${role.name} + '; '"></span>
      </td>
      <td>
        <!-- Форма для удаления пользователя -->
        <form th:action="@{/admin}" method="post">
          <input type="hidden" name="userId" th:value="${user.id}"/>
          <input type="hidden" name="action" value="delete"/>
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/}">Главная</a>
</div>
</body>
</html>