<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <!-- Подключаем файл стилей -->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div class="container mt-5">
    <h1>Добро пожаловать на сайт!</h1>
    <div class="mt-4">

        <!-- Кнопка на страницу просмотра блогов -->
        <button type="button" class="btn btn-secondary" onclick="window.location.href='/autoblog'">Блог</button>

        <!-- Кнопка на страницу управления грузами -->
        <button type="button" class="btn btn-secondary" onclick="window.location.href='/cargo'">Грузы</button>

        <sec:authorize access="hasAuthority('ROLE_ADMIN')">
            <button type="button" class="btn btn-danger" onclick="window.location.href='/admin/main'">Админ панель</button>
        </sec:authorize>

        <!-- Кнопка логаута -->
        <button type="button" class="btn btn-warning" onclick="window.location.href='/logout'">Логаут</button>
    </div>
</div>

<!-- Подключаем JavaScript (для Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>